@media screen and (min-width: 900px) {
  .header {
    &-desktop {
      &__btn {
        padding-left: 2.3rem;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .header {
    padding: 0 8rem;

    &-desktop {
      &__nav-item {
        font-size: 1.8rem;
      }
      &__logo {
        height: 7rem;
        width: 12rem;
      }
      &__search-box {
        width: 73%;
      }

      &__btn {
        width: 27%;
        padding-left: 2.5rem;
      }
    }
  }

  .hero__images {
    height: 75rem;
  }

  .hero__text-box {
    margin-top: 30rem;
  }

  .primary-heading {
    &__main {
      font-size: 3rem;
    }
    &__sub {
      font-size: 2rem;
    }
  }
  .hero__text-box {
    .btn--primary {
      padding: 1rem 4.5rem;
      font-size: 1.8rem;
    }
  }

  .partner {
    &__img-box {
      height: 17rem;
      width: 17rem;
    }
    &__image {
      height: 16rem;
      width: 16rem;
    }
      &-box {
    width: 72%;
    }   
  }

  .secondary-heading {
    font-size: 2.5rem;
  }

  .feature {
    width: 75%;
    margin: 0 auto;
    &-heading {
      margin-bottom: 4rem;
    }
  }

  .u-padding--horizontal {
    padding: 0;
  }
}

@media screen and (min-width: 1050px) {
  .header {
    padding: 0 10rem;
  }

  .primary-heading {
    &__main {
      font-size: 4rem;
    }
    &__sub {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 1250px) {
  .header {
    padding: 0 12rem;

    &-desktop {
      &__nav-item {
        font-size: 1.8rem;
      }
      &__logo {
        height: 7rem;
        width: 12rem;
      }
      &__search-box {
        width: 78%;
      }

      &__btn {
        width: 22%;
        padding-left: 2rem;
      }
    }
  }

  .primary-heading {
    &__main {
      font-size: 5rem;
    }
  }

  .partners-box {
    width: 46%;
  }
}

@media screen and (min-width: 1460px) {
  .header {
    padding: 0 12rem;

    &-desktop {
      &__nav-item {
        font-size: 1.8rem;
      }
      &__logo {
        height: 7rem;
        width: 12rem;
      }
      &__search-box {
        width: 84%;
      }

      &__btn {
        width: 15%;
        padding-left: 2.5rem;
      }
    }
  }

  .primary-heading {
    &__main {
      font-size: 6rem;
    }
  }
}

@media screen and (min-width: 1500px) {
  .header {
    padding: 0 12rem;

    &-desktop {
      &__nav-item {
        font-size: 1.8rem;
      }
      &__logo {
        height: 7rem;
        width: 12rem;
      }
      &__search-box {
        width: 84%;
        margin-right: -3rem;
      }

      &__btn {
        width: 15%;
        padding-left: 2.5rem;
      }
    }
  }
}
