.footer {
  font-size: $default-font;
  background-color: $color-gray-light2;

  &__menu-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  &__social {
    width: 100%;

    &-box {
      width: 24%;
      margin: 0 auto;
    }
  }

  &--simple {
    height: 8rem;
  }

  &__menu-item-box {
    position: relative;
    height: 5rem;
    width: 50%;
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
  }

  &__menu-item {
    height: 5rem;
    padding-top: 1rem;
    color: $color-black-light;

    display: block;
    text-align: center;
    text-decoration: none;

    &--right-border {
      border-right: 1px solid $color-gray-light;
    }
  }

  &__text {
    width: 40%;
    margin: 0 auto;
    padding-top: 3rem;
    position: relative;
  }

  &__text-heading {
    display: inline;
    font-weight: 300;
  }

  &__img-box {
    position: absolute;
    top: 2.8rem;
    left: 7.5rem;
  }

  &__img {
    height: 4.5rem;
  }
}

.footer-desktop {
  &__links {
    width: 70%;
    margin: 0 auto;
  }

  &__menu-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__copy-right-box {
    width: 62%;
    margin: 0 auto;
  }

  &__copy-right-text {
    white-space: nowrap;
  }

  &__social {
    width: 18%;
    margin: 0 auto;
  }

  &__fa {
    height: 2.4rem;
    width: 2.4rem;
    background-color: $color-black-light;
    color: white;
    text-align: center;
    border-radius: 1rem;
    padding-top: 0.3rem;
  }
}
