@media screen and (min-width: 800px) {
  // General
  .bank-home,
  .partners-page,
  .form-page,
  .search-result-page,
  .thank-you,
  .faq-page {
    background-color: $color-tertiary;
  }

  // Grid
  .col-2 {
    width: calc((100% - 10rem) / 6);
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .col-3 {
    width: calc((100% - 6rem) / 4);
  }

  .col-6 {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .header {
    border-bottom: 0;
    margin-bottom: 0;

    &-desktop {
      &__search-box {
        width: 75%;
        margin-right: 2rem;
      }
      &__btn {
        width: 25%;
        padding-top: 0.3rem;
      }
    }
  }

  .footer-mobile {
    display: none;
  }

  .tertiary-heading {
    font-size: 1.8rem;
  }

  // Home page
  .mob-content {
    display: none;
  }

  .hero {
    padding: 0 4rem;

    &-section {
      margin-bottom: 20rem;
    }

    &__image-box {
      width: 50%;
    }

    &__text-box {
      width: 45%;
      text-align: left;
      margin-top: 16rem;

      a {
        margin-left: 5rem;
      }
    }

    &__images {
      height: 43rem;
    }

    &__mobile-picture {
      display: none;
    }

    &__desktop-picture {
      height: 100%;
      width: 100%;
    }
  }

  .primary-heading {
    margin-left: 5rem;

    &__main {
      text-align: left;
      font-weight: 700;
    }

    &__sub {
      width: 83%;
    }
  }

  .partners-box {
    width: 80%;
  }

  .prev,
  .next {
    display: none;
  }

  .features-section {
    background-image: url(../img/desktop_background.svg);
//      background-color: yellow;
    padding: 5rem 0;
  }

  .feature-btn {
    margin-top: 2rem;
  }

  .footer {
    padding: 1rem 0;
    &-desktop {
      &__copy-right-box {
        width: 65%;
      }
      &__social {
        width: 23%;
      }
    }
  }

  // Partner page

  .partners-page {
    .bank-box {
      .tertiary-heading {
        font-size: 2rem;
      }
    }
  }

  .bank-box {
    height: 19rem;
    padding-top: 3rem;

    &__footer {
      width: 36%;
    }

    &__img {
      transform: scale(1.3);
    }
  }

  .btn-text {
    &:link,
    &:visited {
      padding: 0.3rem 3rem;
    }
  }

  // Bank home
  .bank-home {
    &__main {
      .desktop-contents {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  // Form page
  .form-box {
    width: 100%;

    &__text-box {
      width: 78%;
    }

    &__timer-box {
      width: 12%;
    }

    &__img {
      transform: scale(0.6);
    }

    &__timer-text {
      font-size: 1.1rem;
    }
  }

  .pagination {
    width: 17%;
  }

  // Search Result
  .bank-box__logo {
    width: 30%;
  }

  // Thank You
  .thank-you {
    &__img-box {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    &__img {
      width: 100%;
      height: 32rem;
      margin-left: 5rem;
    }

    &__text-box {
      width: 60%;
      margin: 0 auto;
      text-align: center;
    }
  }

  // Footer
  .footer__text {
    width: 13%;
  }
}
