.interectionSection {
  height: 100vh;
  overflow: hidden;
}

.canvas {
  height: 100%;
  overflow: scroll;
  padding-bottom: 31rem;
  outline: none;
}

// .canvas::before {
//   content: '';
//   display: block;
//   width: 100%;
//   margin-bottom: 10%;
// }
