.video {
  &__players {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
  }
  &__player {
    width: 35rem;
    background: #e8e8e8;
    --width: 25vw;
    height: 25rem;
    &:first-of-type {
      margin-right: 2rem;
//    border: 1px solid #ff0000;     
    }
  }

  &__control {
    padding: 7px 8px 7px;
    min-width: 40px;
    font-size: 2rem;
    background-color: rgba(79, 176, 174, 0.3);
    margin: 0;
    height: 40px;
    display: inline-block;
    border: 1px solid;
    border-radius: 2px;
    position: relative;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }
}

.picture {
  display: flex;
  flex-flow: row nowrap;

  &__feed {
    width: 32rem;
    height: 24rem;
    position: relative;
    margin-right: 2rem;
    margin-bottom: 4rem;
  }

  &__live {
    border: 1px solid #ff0000;
    box-shadow: 2px 2px 3px #ffffff;
    width: 100%;
    height: 100%;
  }

  &__capture {
    position: absolute;
    left: 50%;
    top: 76%;
    opacity: 0;
    transform: translate(-50%);
    padding: 7px 8px 7px;
    min-width: 40px;
    background-color: rgba(255, 255, 255, 1);
//    border: 1px solid rgba(255, 255, 255, 0.7);
//    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
    height: 40px;
    display: inline-block;
//    border: 1px solid;
    font-family: inherit;
    border-radius: 100px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
  }

  &__output {
    width: 34rem;
  }

  &__photo {
    border: 1px solid #ff0000;
    box-shadow: 2px 2px 3px #ffffff;
    width: 25rem;
    height: 24rem;
  }

  &__canvas {
    display: none;
  }
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

#clockdiv > div {
  padding: 5px 8px;
  border-radius: 3px;
  background: #00bf96;
  display: inline-block;
}

#clockdiv div > span {
  padding: 0px 11px;
  border-radius: 3px;
  background: #00816a;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .video__control {
    font-size: 1.6rem;
  }

  .in-mobile {
    margin-top: 0;
  }

  .picture__feed {
    margin-bottom: 2rem;
  }

  .video__player {
    width: 24rem;
    height: 24rem;
  }

  .picture__feed {
    width: 28rem;
    height: 24rem;
  }

  .picture__output {
    width: 28rem;
    height: 24rem;
  }
}
