.partners-page__main {
  .section-title {
    background-color: $color-primary;
  }
  .tertiary-heading {
    padding-top: 1rem;
    font-size: 1.8rem;
  }
}

.section-text {
  padding: 0 2rem;
}
.banks-section {
  padding: 0 4rem;
}
