<div class="mob-individaul-tab-content">
  {{#each formTypes.Individual }}
  <div class="row">
    <div class="col-12">
      <div class="rectangle-box">
        <a href="/{{../slug}}/formgroup/individual/{{lower (noWhiteSpace this.name)}}/forms"><span class="rectangle-box__link"></span></a>
        <div class="rectangle-box__img-box">
          <img src="/img/{{lower (noWhiteSpace this.name)}}_dull.svg" alt="{{this.name}} Image" class="rectangle-box__img">

        </div>
        <div class="rectangle-box__text-box">
          <h3 class="tertiary-heading">{{this.name}}</h3>
        </div>
        <div class="rectangle-box__arrow-box">
          <span class="">
            &#62;
          </span>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<div class="mob-corporate-tab-content">
  {{#each formTypes.Corporate}}
  <div class="row">
    <div class="col-12">
      <div class="rectangle-box">
        <a href="/{{../slug}}/formgroup/corporate/{{lower (noWhiteSpace this.name)}}/forms"><span class="rectangle-box__link"></span></a>
        <div class="rectangle-box__img-box">
          <img src="/img/{{lower (noWhiteSpace this.name)}}_dull.svg" alt="{{this.name}} Image" class="rectangle-box__img">
        </div>
        <div class="rectangle-box__text-box">
          <h3 class="tertiary-heading">{{this.name}}</h3>
        </div>
        <div class="rectangle-box__arrow-box">
          <span class="">
            &#62;
          </span>
        </div>

      </div>
    </div>
  </div>
  {{/each}}
</div>