<div class="row u-margin-bottom--small">
  {{#each banks}}
    <a href="/{{this.slug}}" class="shift">
  <div class="col-2 point">
    <div class="bank-box">
      <div class="bank-box__header u-margin-bottom--thin">
        <h3 class="tertiary-heading">{{this.name}}</h3>
      </div>
        
      <div class="bank-box__logo">
        <img src="{{this.logo}}" class="bank-box__img" alt="{{this.slug}} logo">
      </div>
        
      <div class="bank-box__footer  u-margin-bottom--thin">
        <a href="/{{this.slug}}" class="btn-text bank-box__link">
          <i class="">&rarr;</i>
        </a>
      </div>
    </div>
  </div>
      </a>
  {{/each}}
</div>