<div class="des-individaul-tab-content">
  {{#each individaulChunks}}
  <div class="row u-margin-bottom--small">
    {{#each this }}
    <div class="col-3">
      <div class="form-type">
        <a href="/{{../../slug}}/formgroup/individual/{{lower (noWhiteSpace this.name)}}/forms"><span class="rectangle-box__link"></span></a>
        <div class="form-type__img-box">
          <img src="/img/{{lower (noWhiteSpace this.name)}}_clear.svg" class="form-type__img" alt="{{this.name}}">
        </div>
        <div class="form-type__text-box">
          <h3 class="tertiary-heading">{{this.name}}</h3>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>

<div class="des-corporate-tab-content">
  {{#each corporateChunks}}
  <div class="row u-margin-bottom--small">
    {{#each this }}
    <div class="col-3">
      <div class="form-type ">
        <a href="/{{../../slug}}/formgroup/corporate/{{lower (noWhiteSpace this.name)}}/forms"><span class="rectangle-box__link"></span></a>
        <div class="form-type__img-box">
          <img src="/img/{{lower (noWhiteSpace this.name)}}_clear.svg" class="form-type__img" alt="{{this.name}}">
        </div>
        <div class="form-type__text-box">
          <h3 class="tertiary-heading">{{this.name}}</h3>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>