{{#each formBatches as |batch|}}
<div class="row u-margin-bottom--small">
  {{#each batch as |form|}}
  <div class="col-6">
    <div class="form-box">
      <a href="/{{../../slug}}/{{lower form.workspace.parent}}/{{lower form.workspace.name}}/{{form.slug}}"><span class="form-box__link"></span></a>
      <div class="form-box__img-box">
        <div class="form-box__img-innerbox">
          <img src="/img/form.svg" alt="Registration Image" class="form-box__img">
        </div>
      </div>
      <div class="form-box__text-box">
        <h4 class="fourth-heading">{{form.name}}</h4>
      </div>
      <div class="form-box__timer-box">
        <div class="form-box__timer-innerbox">
          <img src="/img/timer.svg" alt="Registration Image" class="form-box__timer">
          <span class="form-box__timer-text">3min</span>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}