<footer class="footer footer--simple">
  <div class="footer__text">
    <h4 class="footer__text-heading">Powered by</h4>
    <div class="footer__img-box">
      <img src="/img/logo.png" alt="Swyp logo" class="footer__img">
    </div>
  </div>
</footer>