<footer class="footer">
  <div class="footer__menu footer-mobile">
    <section class="footer__menu-box">
      <div class="footer__menu-item-box">
        <a href="" class="footer__menu-item footer__menu-item--right-border">Why Swyp?</a>
      </div>
      <div class="footer__menu-item-box">
        <a href="" class="footer__menu-item">FAQ</a>
      </div>
    </section>
    <section class="footer__social">
      <div class="footer__social-box">
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-linkedin"></i></a>
      </div>
    </section>
  </div>

  <div class="footer__menu footer-desktop">
    <div class="row">
      <section class="col-4">
        <div class="footer-desktop__links">
          <a href="/faqs" class="footer-desktop__menu-item">Why Swyp?</a>
          {{!-- <a href="" class="ffooter-desktop__menu-item">FAQ</a> --}}
        </div>
      </section>
      <section class="col-4">
        <div class="footer-desktop__copy-right-box">
          <p class="footer-desktop__copy-right-text"> &copy;2019 Swyp All Rights Reserved </p>
        </div>
      </section>
      {{!-- <section class="col-4">
        <div class="footer-desktop__social">
          <a href=""><i class="fa footer__fa fa-facebook"></i></a>
          <a href=""><i class="fa footer__fa fa-twitter"></i></a>
          <a href=""><i class="fa footer__fa fa-linkedin"></i></a>
        </div>
      </section> --}}
    </div>
  </div>
</footer>