.aside {
  padding: 2rem;
  background-color: $color-white;
  width: calc(100% - 70% - 2rem);
  color: $color-black;
  .form-box {
    width: 100%;
  }

  .form-box__timer-innerbox {
    margin-left: 0;
    padding-top: 0.5rem;
  }
  .form-box__text-box {
    width: 68%;
  }

  .form-box__timer-box {
    width: 15%;
  }
}
