.form-type {
  width: 88%;
  padding-top: 5rem;
  background-color: $color-white;
  height: 19rem;
  position: relative;
  border-radius: 5px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
  &__img-box {
    width: 32%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  &__img {
    height: 5rem;
    width: 7rem;
  }

  &__text-box {
    width: 82%;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
  }
}
