.partners { /* xx */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &-box {
    margin: 0 auto;
    display: inherit;

    &__slide {
      display: inherit;

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}

.partner {
  border: 1px solid transparent;

  &__img-box {
    height: 14rem;
    width: 14rem;
    text-align: center;

    position: relative;
  }

  &__image {
    height: 12rem;
    width: 12rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.3s;

    &:hover {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &:hover {
    border: 1px solid $color-gray-light;
    cursor: pointer;
  }
}
.prev,
.next {
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  font-weight: bold;
  transition: 0.6s ease;
}

.next {
  right: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
