<!DOCTYPE html>
<html lang="en">

<head>
  <title>Swyp | Life Simplified</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="{{bodyClass}}">
  <header class="header">
    <div class="header-mobile mob-content">
      <div class="header-mobile__image-box">
        <a href="/{{bankSlug}}">
          <div class="header-mobile__logo-box">
            <img src="/img/logo.png" alt="Swyp Logo" class="header-mobile__logo" id="banklogo-mobi">
          </div>
        </a>
        <div class="header-mobile__hamburger-box">
          <img src="/img/hamgurger.svg" alt="Nav Button" class="header-mobile__hamburger-image">
        </div>
      </div>

    </div>
    <div class="row header-desktop des-content">
      <div class="col-6 header-desktop__right-nav">
        <a href="/{{bankSlug}}">
           <div class="header-desktop__logo-box">
          <img src="/img/logo.png" alt="Swyp Logo" class="header-desktop__logo" id="banklogo-des">
        </div>
        </a>
      </div>
    </div>
  </header>
  {{{body}}}
  {{> bank-footer}}
  {{{scripts}}}
</body>

</html>
