<!DOCTYPE html>
<html lang="en">

<head>
  <title>Swyp | Life Simplified </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body data-bankslug="{{bankSlug}}" data-formtypeparent="{{formTypeParent}}" data-formtype="{{formType}}"
  data-formslug="{{form}}">
  {{!-- Dynamic content goes here --}}
  {{{scripts}}}
</body>

</html>