<main class="form-page__main">
  <section class="section-title des-content u-margin-bottom--medium">
      <h1 id="heading" data-slug="{{bankSlug}}" data-formType="{{formType}}"></h1>
  </section>
  <section class="forms-section u-margin-bottom--medium u-padding--horizontal">
    {{!-- dynamic data goes here --}}
  </section>

  {{!-- <section class="pagination-section u-margin-bottom--small">
    <div class="pagination">
      <ul class="pagination__items">
        <li class="pagination__item pagination__item--disable">
          <span>&larr;</span>
        </li>
        <li class="pagination__item pagination__item--page-number pagination__item--active">1</li>
        <li class="pagination__item pagination__item--page-number">2</li>
        <li class="pagination__item pagination__item--page-number">3</li>
        <li class="pagination__item">
          <span>&rarr;</span>
        </li>
      </ul>
    </div>
  </section> --}}
</main>