<main class="home-page__main">
  <section class="hero-section">
    <div class="hero">
      <div class="hero__image-box">
        <div class="hero__images">
          <img src="img/mobile_hero.svg" alt="Hero Image" class="hero__mobile-picture">
          <img src="img/desktop_hero.svg" alt="Hero Image" class="hero__desktop-picture">
        </div>
      </div>
      <div class="hero__text-box">
        <h1 class="primary-heading u-margin-bottom--small">
          <span class="primary-heading__main">Queueing is stressful</span>
          <span class="primary-heading__sub">
            Skip the queues and fill your bank forms online with Swyp. No more visits to the bank; fill your forms on
            your phones and computers.
          </span>
        </h1>
        <a href="/partners" class="btn btn--primary">Get Started</a>
      </div>
    </div>
  </section>
  <section class="partners-section u-margin-bottom--big">
    <div class="u-center-text">
      <h2 class="secondary-heading">Our Partners</h2>
    </div>
    <div class="partners">
      <div class="partners-box">
        <div class="partners-box__slide slide-on-mobile fade">
          <div class="partner">
            <div class="partner__img-box">
              <img src="img/bank-logo-gtb.png" class="partner__image">
            </div>
          </div>
          <div class="partner">
            <div class="partner__img-box">
              <img src="img/bank-logo-union.png" class="partner__image">
            </div>
          </div>
        </div>
        <div class="partners-box__slide slide-on-mobile fade">
          <div class="partner">
            <div class="partner__img-box">
              <img src="img/bank-logo-diamond.png" class="partner__image">
            </div>
          </div>
          <div class="partner">
            <div class="partner__img-box">
              <img src="img/bank-logo-first.png" class="partner__image">
            </div>
          </div>
        </div>
      </div>
      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  </section>
  <section class="features-section">
    <div class="u-center-text u-margin-bottom--small feature-heading">
      <h2 class="secondary-heading">Why Use Swyp</h2>
    </div>
    <div class="row u-padding--horizontal u-margin-bottom--medium">
      <div class="col-4 col--mobile">
        <div class="feature u-margin-bottom--small">
          <div class="u-margin-bottom--small">
            <div class="feature__img-level-3-box">
              <div class="feature__img-level-2-box">
                <div class="feature__img-innerbox feature__img-innerbox--1">
                  <img src="img/feature-1.svg" alt="Feature 1 image" class="feature__img">
                </div>
              </div>
            </div>

          </div>
          <div class="feature__text-box">
            <h3 class="tertiary-heading feature__heading">Intuitive & assistive forms</h3>
            <p class="feature__paragraph">
              Swyp’s online forms are shorter, easier to understand and more intuitive than paper forms.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 col--mobile">
        <div class="feature u-margin-bottom--small">
          <div class="u-margin-bottom--small">
            <div class="feature__img-level-3-box">
              <div class="feature__img-level-2-box">
                <div class="feature__img-innerbox">
                  <img src="img/feature-2.svg" alt="Feature 2 image" class="feature__img">
                </div>
              </div>
            </div>
          </div>

          <div class="feature__heading-box">
            <h3 class="tertiary-heading feature__heading">All bank forms under one roof</h3>
          </div>
          <div class="feature__paragraph-box">
            <p class="feature__paragraph">
              Find all forms online – everything from account opening, BVN registration to change of personal details.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 col--mobile">
        <div class="feature u-margin-bottom--small">
          <div class="u-margin-bottom--small">
            <div class="feature__img-level-3-box">
              <div class="feature__img-level-2-box">
                <div class="feature__img-innerbox">
                  <img src="img/feature-3.svg" alt="Feature 3 image" class="feature__img">
                </div>
              </div>
            </div>
          </div>

          <div class="feature__text-box">
            <h3 class="tertiary-heading feature__heading">Save yourself time and stress.</h3>
            <p class="feature__paragraph">
                No need for visits to the bank; you now have forms at the tip of your fingers
                
              <!-- On a deadline to get that paperwork for your next travelling done, with swyp you can complete
              transactions under 5 minutes. -->
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-btn u-center-text">
      <a href="/partners" class="btn btn--primary">Fill a form now</a>
    </div>
  </section>
</main>