<main class="partners-page__main">
  <section class="section-title des-content u-margin-bottom--medium">
    <h1>Partners</h1>
  </section>
  <div class="section-text u-margin-bottom--medium des-content u-padding--horizontal">
    <h2 class="heading-info">Find hundreds of forms from these banks</h2>
  </div>
  <section class="banks-section u-padding--horizontal">
    {{!-- banks data from banks service would be loaded here --}}
  </section>
</main>