<main class="search-result-page__main">
  <section class="section-title des-content u-margin-bottom--medium">
    <h1>Search Result</h1>
  </section>
  <section class="banks-section u-padding--horizontal">
    <div class="row u-margin-bottom--small">
      <div class="col-2">
        <div class="bank-box">

          <div class="bank-box__logo">
            <img src="img/gtb_logo.svg" class="bank-box__img" alt="GTB logo">
          </div>
          <div class="bank-box__header u-margin-bottom--thin">
            <h3 class="tertiary-heading">3 forms</h3>
          </div>
          <div class="bank-box__footer  u-margin-bottom--thin">
            <a href="bankhome.html" class="btn-text bank-box__link">
              <i class="">&rarr;</i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="bank-box">

          <div class="bank-box__logo">
            <img src="img/internet_banking_clear.svg" class="bank-box__img" alt="Union logo">
          </div>
          <div class="bank-box__header u-margin-bottom--thin">
            <h3 class="tertiary-heading">Internet Banking</h3>
          </div>
          <div class="bank-box__footer  u-margin-bottom--thin">
            <a href="bankhome.html" class="btn-text bank-box__link">
              <i class="">&rarr;</i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="bank-box">

          <div class="bank-box__logo">
            <img src="img/form.svg" class="bank-box__img" alt="UBA logo">
          </div>
          <div class="bank-box__header u-margin-bottom--thin">
            <h3 class="tertiary-heading">Account Opening</h3>
          </div>
          <div class="bank-box__footer">
            <a href="bankhome.html" class="btn-text bank-box__link">
              <i class="">&rarr;</i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="bank-box">

          <div class="bank-box__logo">
            <img src="img/internet_banking_clear.svg" class="bank-box__img" alt="Union logo">
          </div>
          <div class="bank-box__header u-margin-bottom--thin">
            <h3 class="tertiary-heading">Internet Banking</h3>
          </div>
          <div class="bank-box__footer  u-margin-bottom--thin">
            <a href="bankhome.html" class="btn-text bank-box__link">
              <i class="">&rarr;</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>