// Distance
$small-right-gutter: 3rem;
$medium-gutter: 4rem;
$padding-small: 3rem;
$small-gutter: 2rem;
$thin-gutter: 1rem;
$big-gutter: 6rem;

$color-primary: #38003c;
$color-secondary: #e90052;
$color-tertiary: #f4f4f6;
$color-gray: #dbe1eb;
$color-sentient: #a6b2c8;
$color-gray-light: #eee;
$color-gray-light2: #eeeeef;
$color-black: #0e0e0e;
$color-black-light: #5f6a7c;
$color-white: #fff;
$border-color: rgba(0, 0, 0, 0.07);

// Response canvas related colors
$white-color: #fff;
$secondary-color: #eb1761;
$primary-color: #38003c;
$tertiary-color: #fce4ec;
$tertiary-color-light: #feedf3;

// Font
$default-font: 1.6rem;
