*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

a {
  color: #0e0e0e;
  text-decoration: none;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
}

.primary-heading {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.primary-heading__main {
  font-family: "Source Sans Pro";
  display: block;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
}
.primary-heading__sub {
  display: block;
  font-weight: 400;
  font-size: 1.55rem;
  text-align: justify;
}

.secondary-heading {
  font-family: "Source Sans Pro";
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.heading-info {
  font-size: 2rem;
  font-weight: 400;
}

.tertiary-heading {
  font-family: "Source Sans Pro";
  font-size: 2rem;
  font-weight: 600;
}

.fourth-heading {
  font-family: "Source Sans Pro";
  font-size: 1.5rem;
  font-weight: 300;
}

.u-center-text {
  text-align: center !important;
}

.section-title {
  padding: 0 2rem;
  padding-top: 4rem;
  width: 100%;
  height: 10rem;
  text-align: center;
  background-color: #0e0e0e;
  color: #fff;
}

.breath {
  padding: 0 12rem;
  padding-top: 3rem;
}

.u-margin-bottom--big {
  margin-bottom: 6rem;
}

.u-margin-bottom--medium {
  margin-bottom: 4rem;
}

.u-margin-bottom--small {
  margin-bottom: 2rem;
}

.u-margin-bottom--thin {
  margin-bottom: 1rem;
}

.u-margin-right--small {
  margin-right: 2rem;
}

.u-padding--small {
  padding: 2rem;
}

.u-padding--horizontal {
  padding: 0 12rem !important;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  min-width: 20rem;
  width: calc((100% - 2rem) / 2);
}
.col-2:nth-child(odd) {
  margin-right: 2rem;
}

.col-3 {
  width: calc((100% - 4rem) / 4);
  min-width: 20rem;
}

.col-4 {
  width: 33.3%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: calc((100% - 2rem) / 2);
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.header {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
}
.header-mobile {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header-mobile__image-box {
  height: 2rem;
  margin-bottom: 2rem;
}
.header-mobile__image-box ::after {
  content: "";
  display: table;
  clear: both;
}
.header-mobile__logo-box {
  float: left;
}
.header-mobile__hamburger-box {
  float: right;
}
.header-mobile__logo {
  height: 4rem;
}
.header-mobile__hamburger-image {
  height: 1.5rem;
}
.header-mobile__search-box {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
}
.header-mobile__search-input {
  font-family: "lato";
  width: 93%;
  height: 4rem;
  border: 1.3px solid #eee;
  border-right: 0;
  padding: 1rem;
}
.header-mobile__search-input::-webkit-input-placeholder {
  color: #a6b2c8;
}
.header-mobile__search-img-box {
  width: 7%;
  height: 4rem;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1.3px solid #eee;
  border-left: 0;
  padding-top: 0.8rem;
  padding-right: 0.3rem;
}
.header-mobile__search-img {
  width: 100%;
  height: 2rem;
}
.header-desktop {
  padding-top: 2rem;
}
.header-desktop__logo-box {
  padding-top: 0.8rem;
  width: 22%;
  float: left;
  transform: translateX(-1rem);
}
.header-desktop__logo {
  height: 6rem;
  width: 11rem;
}
.header-desktop__nav-list {
  padding-top: 1.5rem;
  list-style: none;
}
.header-desktop__nav-item {
  display: inline-block;
}
.header-desktop__nav-item:not(:last-child) {
  margin-right: 2rem;
}
.header-desktop__left-nav {
  padding-top: 1.5rem;
  display: flex;
}
.header-desktop__search-box {
  width: 80%;
  padding-top: 0.4rem;
  display: flex;
}
.header-desktop__search-input {
  margin-left: 7rem;
  font-family: "Lato";
  width: 72%;
  border: 0;
  height: 2.5rem;
  outline: none;
  border-bottom: 2px solid #0e0e0e;
  background-color: #f4f4f6;
}
.header-desktop__search-input::-webkit-input-placeholder {
  color: #a6b2c8;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: right;
}
.header-desktop__search-img-box {
  width: 7%;
  height: 2.5rem;
  cursor: pointer;
  border-bottom: 2px solid black;
}
.header-desktop__search-img {
  width: 100%;
  height: 2rem;
  content: url(../img/search_dark.svg);
  transform: scale(0.8);
}
.header-desktop__btn {
  height: 4rem;
  border: 1px solid #0e0e0e;
  border-radius: 2rem;
  padding: 0 2rem;
  padding-top: 0.5rem;
  margin-top: -1rem;
}

.footer {
  font-size: 1.6rem;
  background-color: #eeeeef;
}
.footer__menu-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.footer__social {
  width: 100%;
}
.footer__social-box {
  width: 24%;
  margin: 0 auto;
}
.footer--simple {
  height: 8rem;
}
.footer__menu-item-box {
  position: relative;
  height: 5rem;
  width: 50%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.footer__menu-item {
  height: 5rem;
  padding-top: 1rem;
  color: #5f6a7c;
  display: block;
  text-align: center;
  text-decoration: none;
}
.footer__menu-item--right-border {
  border-right: 1px solid #eee;
}
.footer__text {
  width: 40%;
  margin: 0 auto;
  padding-top: 3rem;
  position: relative;
}
.footer__text-heading {
  display: inline;
  font-weight: 300;
}
.footer__img-box {
  position: absolute;
  top: 2.8rem;
  left: 7.5rem;
}
.footer__img {
  height: 4.5rem;
}

.footer-desktop__links {
  width: 70%;
  margin: 0 auto;
}
.footer-desktop__menu-item {
  display: inline-block;
}
.footer-desktop__menu-item:not(:last-child) {
  margin-right: 1rem;
}
.footer-desktop__copy-right-box {
  width: 62%;
  margin: 0 auto;
}
.footer-desktop__copy-right-text {
  white-space: nowrap;
}
.footer-desktop__social {
  width: 18%;
  margin: 0 auto;
}
.footer-desktop__fa {
  height: 2.4rem;
  width: 2.4rem;
  background-color: #5f6a7c;
  color: white;
  text-align: center;
  border-radius: 1rem;
  padding-top: 0.3rem;
}

.hero {
  display: flex;
  flex-wrap: wrap;
}
.hero__image-box, .hero__text-box {
  width: 100%;
}
.hero__text-box {
  text-align: center;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 10rem;
  padding: 0.7rem 4.5rem;
  display: inline-block;
  transition: transform 0.2s;
}
.btn--primary {
  background-color: #e90052;
  color: #fff;
  font-weight: bold;
}
.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(14, 14, 14, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(14, 14, 14, 0.2);
}

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  font-size: 1rem;
  border-radius: 12rem;
  display: inline-block;
  transition: transform 0.2s;
  background-color: #fff;
  border: 2px solid #dbe1eb;
  padding: 0.1rem 2rem;
  color: #dbe1eb;
}
.btn-text:hover, .btn-text:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(14, 14, 14, 0.1);
  border: 1px solid #e90052;
  color: #e90052;
}
.btn-text:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(14, 14, 14, 0.2);
  border: 1px solid #e90052;
  color: #e90052;
}

.partners {
  /* xx */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.partners-box {
  margin: 0 auto;
  display: inherit;
}
.partners-box__slide {
  display: inherit;
}
.partners-box__slide:not(:last-child) {
  margin-right: 3rem;
}

.partner {
  border: 1px solid transparent;
}
.partner__img-box {
  height: 14rem;
  width: 14rem;
  text-align: center;
  position: relative;
}
.partner__image {
  height: 12rem;
  width: 12rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.3s;
}
.partner__image:hover {
  transform: translate(-50%, -50%) scale(1);
}
.partner:hover {
  border: 1px solid #eee;
  cursor: pointer;
}

.prev,
.next {
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  font-weight: bold;
  transition: 0.6s ease;
}

.next {
  right: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.feature {
  font-size: 1.6rem;
}
.feature__img-level-3-box {
  height: 12rem;
  width: 12rem;
  margin: 0 auto;
  border-radius: 2.5rem;
  background-color: #38003c;
  border: 0.5px solid #fff;
  position: relative;
}
.feature__img-level-2-box {
  height: 10rem;
  width: 10rem;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  border-radius: 2rem;
  transform: translate(-50%, -50%);
}
.feature__img-innerbox {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.feature__img-innerbox--1 {
  height: 7rem;
}
.feature__img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
.feature__heading-box {
  width: 90%;
  margin: 0 auto;
}
.feature__heading {
  text-align: center;
}
.feature__paragraph-box {
  width: 88%;
  margin: 0 auto;
}
.feature__paragraph {
  text-align: center;
  font-weight: 300;
}

.bank-box {
  border-bottom: 2px solid #e90052;
  box-shadow: 0 0.5rem 2rem rgba(14, 14, 14, 0.1);
  background-color: #fff;
}
.bank-box__header {
  text-align: center;
}
.bank-box__logo {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.bank-box__img {
  height: 5rem;
  width: 7rem;
  margin-left: -6px;
}
.bank-box__footer {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.des-tab-head-section {
  height: 4.3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 3rem;
  border-bottom: 3px solid #fff;
}

.mob-tab-head-section {
  padding: 2rem 0;
}

.mob-tab-head {
  width: 50%;
  height: 3rem;
  border-bottom: 1px solid #eee;
}
.mob-tab-head--active {
  border-bottom: 3px solid #0e0e0e;
}
.mob-tab-head__content {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  cursor: pointer;
}

.des-tab-head__btn {
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  transition: all 0.2s;
  color: #0e0e0e;
  opacity: 0.2;
  padding: 0 1rem;
  cursor: pointer;
}
.des-tab-head__btn--active {
  padding: 1rem 3rem;
  opacity: 1;
  background-color: #fff;
}

.mob-individaul-tab-content {
  transition: all 0.2s;
}

.des-individaul-tab-content,
.mob-individaul-tab-content {
  transition: all 0.2s;
}

.des-corporate-tab-content,
.mob-corporate-tab-content {
  height: 0;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.des-individaul-tab-content.hide,
.mob-individaul-tab-content.hide {
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.des-corporate-tab-content.visible,
.mob-corporate-tab-content.visible {
  height: auto;
  opacity: 1;
  pointer-events: auto;
}

.des-individaul-tab-content.visible,
.mob-individaul-tab-content.visible {
  height: auto;
  opacity: 1;
  pointer-events: auto;
}

.form-type {
  width: 88%;
  padding-top: 5rem;
  background-color: #fff;
  height: 19rem;
  position: relative;
  border-radius: 5px;
  opacity: 0.6;
}
.form-type:hover {
  opacity: 1;
}
.form-type__img-box {
  width: 32%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.form-type__img {
  height: 5rem;
  width: 7rem;
}
.form-type__text-box {
  width: 82%;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
}

.rectangle-box {
  height: 6rem;
  width: 100%;
  display: flex;
  position: relative;
  border-bottom: 1px solid #eee;
  opacity: 0.6;
}
.rectangle-box:hover {
  opacity: 1;
}
.rectangle-box__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.rectangle-box__img-box {
  width: 20%;
  padding: 1.5rem;
}
.rectangle-box__img {
  height: 3.5rem;
  width: 5rem;
}
.rectangle-box__text-box {
  width: 60%;
  padding: 1.5rem;
  padding-left: 0.5rem;
}
.rectangle-box__arrow-box {
  width: 10%;
  padding: 1.5rem;
  font-size: 1.6rem;
}

.form-page__main .section-title {
  color: #fff;
}

.form-box {
  height: 6rem;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0rem 0.5rem 2rem rgba(14, 14, 14, 0.2);
  position: relative;
}
.form-box__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.form-box__img-box {
  width: 13%;
  border-radius: 3px;
  background-color: #dbe1eb;
}
.form-box__img-innerbox {
  width: 4rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.form-box__img {
  height: 4rem;
  width: 4rem;
  transform: scale(0.6);
}
.form-box__text-box {
  width: 64%;
  padding-top: 2rem;
  padding-left: 0.5rem;
}
.form-box__timer-box {
  width: 23%;
}
.form-box__timer-innerbox {
  position: relative;
  margin-left: 1rem;
  padding-top: 0.3rem;
}
.form-box__timer {
  height: 6rem;
}
.form-box__timer-text {
  font-size: 1.2rem;
  position: absolute;
  left: 1.8rem;
  top: 2.4rem;
}

.pagination {
  width: 60%;
  margin: 0 auto;
  font-size: 1.6rem;
}
.pagination__items {
  list-style: none;
}
.pagination__item {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  border: 1px solid #eee;
  border-radius: 0.9rem;
}
.pagination__item--page-number {
  padding-left: 1.2rem;
}
.pagination__item:first-child {
  padding-left: 0.5rem;
}
.pagination__item:last-child {
  padding-left: 1rem;
}
.pagination__item--disable {
  background-color: #eee;
}
.pagination__item--active {
  background-color: #0e0e0e;
  color: #fff;
}

.aside {
  padding: 2rem;
  background-color: #fff;
  width: calc(100% - 70% - 2rem);
  color: #0e0e0e;
}
.aside .form-box {
  width: 100%;
}
.aside .form-box__timer-innerbox {
  margin-left: 0;
  padding-top: 0.5rem;
}
.aside .form-box__text-box {
  width: 68%;
}
.aside .form-box__timer-box {
  width: 15%;
}

.intro {
  width: 100%;
}
.intro__info {
  margin-bottom: 2rem;
}
.intro__infoText {
  text-align: center;
}
.intro__instruction {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 70%;
  color: #fff;
  background-color: #eb1761;
  text-align: center;
  border-radius: 1.8rem;
  padding: 0.8rem 1rem;
  position: relative;
}
.intro__instructionWarning {
  white-space: nowrap;
  margin-right: 0.8rem;
}
.intro__instructionWarning, .intro__instructionIcon {
  display: inline-block;
}
.intro__instructionIcon {
  color: #fce4ec;
  position: absolute;
  top: 0.8rem;
  font-size: 2rem;
}
.intro__requirements {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.intro__requirement {
  width: calc((100% - 6rem) / 4);
  margin-bottom: 4rem;
}
.intro__requirement:not(:last-child) {
  margin-right: 2rem;
}
.intro__icon {
  width: 15rem;
  height: 15rem;
  background-color: #feedf3;
  border-radius: 50%;
}
.intro__iconImage {
  height: 7rem;
  width: 100%;
  margin-top: 4rem;
}
.intro__requirementTextWrapper {
  width: 100%;
}
.intro__requirementText {
  font-size: 1.6rem;
  text-align: center;
}
.intro__actionBtnWrapper {
  width: 19%;
  margin: 0 auto;
  text-align: center;
}
.intro__actonInstruction {
  display: block;
  text-align: center;
  font-size: 1.4rem;
}
.intro__btn {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0.6rem 2rem;
  display: inline-block;
  transition: transform 0.2s;
  cursor: pointer;
  outline: none;
}
.intro__btn--primary {
  background-color: #eb1761;
  color: #fff;
}
.intro__btn--action {
  border-radius: 10rem;
}
.intro__btn--action:hover {
  opacity: 0.8;
}

.canvas__btn {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0.6rem 2rem;
  display: inline-block;
  transition: transform 0.2s;
  cursor: pointer;
  outline: none;
}

.canvas__btn--primary {
  background-color: #eb1761;
  color: #fff;
}

.canvas__btn--action {
  white-space: nowrap;
  border-radius: 10rem;
}

.canvas__btn--action:hover {
  opacity: 0.8;
}

.canvas__btn--navigation {
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
}

.canvas__btn--navigation:first-child {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .intro__instruction {
    width: calc(100% - 2rem);
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .intro__instructionWarning {
    margin-right: 0;
  }

  .intro__requirements {
    margin: 0 0.5rem;
    width: 100%;
    flex-direction: column;
  }

  .intro__requirement {
    width: 100%;
    display: flex;
    margin-bottom: 0;
  }

  .intro__requirement:not(:last-child) {
    margin-bottom: 3rem;
  }

  .intro__icon {
    width: 8rem;
    height: 7rem;
  }

  .intro__iconImage {
    height: 3rem;
    margin-top: 2rem;
  }

  .intro__requirementTextWrapper {
    width: 100%;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
  }

  .intro__requirementText {
    text-align: left;
  }

  .intro__actionBtnWrapper {
    width: 22%;
  }

  .intro__actonInstruction {
    margin-left: 4rem;
  }
}
@media only screen and (min-width: 900px) {
  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.interectionSection {
  height: 100vh;
  overflow: hidden;
}

.canvas {
  height: 100%;
  overflow: scroll;
  padding-bottom: 31rem;
  outline: none;
}

.canvas__headerSection {
  width: 100%;
  height: 6vh;
}

.canvas__header {
  border-bottom: 3px solid #feedf3;
}

.canvas__sectionTitle {
  padding: 1.3rem 20rem;
}

@media only screen and (max-width: 600px) {
  .canvas__headerSection {
    display: none;
  }
}
.canvas__footerSection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.canvas__footerSection .fa {
  height: 0;
  width: 1rem;
  background-color: inherit;
  border-radius: 0;
}

.canvas__footer {
  background-color: #fce4ec;
  width: 100%;
}

.canvas__footerContent {
  width: 100%;
  display: inline-flex;
}

.canvas__footerProgress {
  width: 81%;
  margin-left: 2rem;
  color: #eb1761;
}

.canvas__footerNavigiation {
  width: 10%;
  display: flex;
  padding-bottom: 1rem;
}

progress[value] {
  width: 25rem;
  height: 0.5rem;
  margin-bottom: 2rem;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::-webkit-progress-bar {
  background: linear-gradient(#38003c, #38003c);
  border-radius: 3rem;
}

progress::-webkit-progress-value {
  background-image: linear-gradient(#eb1761, #eb1761);
  border-radius: 3rem;
}

progress::-moz-progress-bar {
  background: linear-gradient(#38003c, #38003c);
  border-radius: 3rem;
}

progress::-moz-progress-value {
  background-image: linear-gradient(#eb1761, #eb1761);
  border-radius: 3rem;
}

@media only screen and (max-width: 600px) {
  .canvas__footerProgress {
    margin-left: 1rem;
    width: 70%;
  }

  .canvas__footerNavigiation {
    width: calc(30% - 1rem);
  }
}
.elementWrapper {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-bottom: 3rem;
}

.dull {
  pointer-events: none;
  user-select: none;
}

.activeElement {
  width: 100%;
  opacity: 1;
  position: relative;
  animation: none 0s ease 0s 1 normal none running;
}

.inactiveElement {
  width: 100%;
  opacity: 0.2;
  position: relative;
  animation: none 0s ease 0s 1 normal none running;
}

.elementParent {
  width: 100%;
  max-width: 840px;
  padding-left: 7rem;
  padding-right: 7rem;
  margin: 0px auto;
}

.elementHouse {
  padding-top: 24px;
  padding-bottom: 24px;
}

.elementInFieldSet {
  border: 0;
  padding: 0.01em 0 0;
  margin: 0;
  min-width: 0;
}

.elementQuestionWrapper {
  font-family: inherit;
  box-sizing: border-box;
  color: #444444;
  font-size: 16px;
  line-height: 24px;
}

.elementQuestionContents {
  position: relative;
  -webkit-font-smoothing: antialiased;
  transition: all 0.4s ease 0s;
}

.questionDecorationWrapper {
  position: absolute;
  right: 100%;
  padding-right: 8px;
  height: 32px;
}

.questionDecorationWrapper::after {
  -webkit-font-smoothing: antialiased;
}

.questionDecoration {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #4fb0ae;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
}

.questionPosition {
  font-weight: unset;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}

.questionIcon {
  margin-left: 4px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.questionTextWrapper {
  font-weight: unset;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #3d3d3d;
  margin: 0px;
}

.requiredQuestion {
  font-weight: unset;
  display: inline;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin: 0px;
}

.answerWrapper {
  margin-top: 32px;
}

.answer {
  display: block;
  width: 100%;
  font-family: inherit;
  color: #4fb0ae;
  -webkit-appearance: none;
  font-size: 3rem;
  line-height: 3.8rem;
  -webkit-font-smoothing: antialiased;
  padding: 0px 24px 8px 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  border-radius: 0px;
  transition: box-shadow 0.2s ease 0s;
  background: none;
}

.answer::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.textAreaAnswer {
  overflow-x: hidden;
  overflow-wrap: break-word;
  z-index: auto;
  position: relative;
  line-height: 3.75rem;
  font-size: 3rem;
  transition: none 0s ease 0s;
  background: transparent !important;
  height: 4.8rem;
  word-wrap: break-word;
  resize: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
  border: 0;
  border-bottom: 1px solid;
  background: none;
  padding: 0 0 10px;
  width: 100%;
  font-family: inherit;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.25;
  border-color: rgba(79, 176, 174, 0.4);
  color: #4fb0ae;
}

.answer:not(:focus),
.textAreaAnswer:not(:focus) {
  box-shadow: rgba(79, 176, 174, 0.3) 0px 1px;
}

.answer:focus {
  outline: none;
  border-bottom: 3px solid #4fb0ae;
}

.answer:focus:invalid {
  border-bottom: 3px solid #e90052;
}

.anwerHint {
  color: #4fb0ae;
  margin: 18px 0 0;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  padding: 0;
}

.answerContent {
  outline: none;
}

.answerBox {
  position: relative;
}

.answerText {
  position: relative;
}

.answerDecorationWrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.answerDecoration {
  font-size: 3rem;
  color: #4fb0ae;
}

.inactiveWrapper {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
}

.activeWrapper {
  opacity: 1;
}

.answerOptionsWrapper {
  transition: all 200ms ease 0ms;
}

.optionsBox {
  z-index: 30;
  width: 100%;
}

.nextButtonWrapper {
  display: flex;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  align-items: center;
  margin-top: 1.5rem;
}

.inactiveNextButtonWrapper {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
}

.nextButton,
.uploadButton,
.resetButton,
.askPermissionBtn {
  padding: 7px 8px 7px;
  min-width: 4rem;
  background-color: rgba(79, 176, 174, 0.3);
  margin: 0;
  height: 4rem;
  display: inline-block;
  border: 1px solid;
  position: relative;
  font-family: inherit;
  outline: none;
  cursor: pointer;
}

.resetButton {
  margin-left: 1rem;
}

.nextButtonText {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 5px;
  line-height: 2.5rem;
  height: 100%;
  width: 100%;
}

.buttonInstruction {
  color: #4fb0ae;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  line-height: 17px;
  font-weight: 400;
  margin-left: 1rem;
  display: inline-block;
  white-space: nowrap;
}

.validationWrapper {
  transform: translateY(8px);
  transition: all 300ms ease 0ms;
  width: 50%;
}

.inactiveValidation {
  opacity: 0;
  pointer-events: none;
}

.validation {
  background-color: rgba(153, 0, 0, 0.6);
  color: white;
  border-radius: 3px;
  padding: 4px 8px;
}

.validationText {
  font-weight: unset;
  font-size: 1.4rem;
  line-height: 2rem;
  color: white;
  font-family: sans-serif;
  margin: 0px;
  padding-bottom: 1rem;
}

.childHouse {
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .elementWrapper:not(:last-child) {
    margin-bottom: 22rem;
  }

  .elementWrapperMedia {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .questionTextWrapper {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .elementParent {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .answer,
.textAreaAnswer {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .validationWrapper {
    width: 100%;
  }

  .dropArea {
    min-width: 100% !important;
  }

  .nextButtonText {
    font-size: 1.6rem;
  }
}
.optionRoot {
  display: inline-flex;
  width: 70%;
  margin-bottom: -8px;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  min-width: 168px;
}

.optionRoot:not(:last-child) {
  margin-bottom: -2px;
}

.optionWrapper {
  margin-right: 0px;
  margin-bottom: 8px;
  max-width: 100%;
}

.optionContents {
  height: 100%;
  width: auto;
}

.option {
  position: relative;
  min-width: 75px;
  height: auto;
}

.optionContent {
  min-height: 40px;
  color: #4fb0ae;
  background-color: rgba(79, 176, 174, 0.1);
  box-shadow: rgba(79, 176, 174, 0.6) 0px 0px 0px 1px inset;
  cursor: pointer;
  opacity: 1;
  height: auto;
  border-radius: 4px;
}

.optionDecoration {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.optionLabelBox {
  display: flex;
  align-self: flex-start;
  box-shadow: transparent 0px 0px 0px 1px;
  margin: 8px;
}

.optionLabelDecoration {
  position: relative;
  width: 24px;
  min-width: 22px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #4fb0ae;
  font-size: 12px;
  line-height: 16px;
  font-family: sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(79, 176, 174, 0.6);
  border-image: initial;
  border-radius: 2px;
}

.optionLabelIcon {
  width: 22px;
  height: 22px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.optionTextBox {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 100%;
  min-width: 75px;
  min-height: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 4px 12px 4px 0px;
}

.optionText {
  font-weight: unset;
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
}

.iconWrapper {
  padding-right: 12px;
  width: 36px;
}

.activIconWrapper {
  opacity: 1;
}

.inactivIconWrapper {
  opacity: 0;
}

.optionIconBox {
  height: 2rem;
  align-items: center;
}

.optionIconBox img {
  width: 100%;
  height: 100%;
}

.dropdownOptionWrapper {
  max-height: 434px;
  overflow: auto;
}

.dropdownOptionWrapper:first-child {
  margin-top: 8px;
}

.dropdownOptionWrapper:not(:last-child) {
  margin-bottom: 4px;
}

.dropDownOption {
  min-height: 40px;
  width: 100%;
  color: #4fb0ae;
  background-color: #edf7f7;
  box-shadow: rgba(79, 176, 174, 0.6) 0px 0px 0px 1px inset;
  cursor: pointer;
  opacity: 1;
  height: auto;
  border-radius: 4px;
}

.optionTextWrapper {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.dropDownOptionText {
  font-weight: unset;
  font-size: 20px;
  line-height: 28px;
  margin-left: 1rem;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .dropDownOptionText,
.optionText {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .optionRoot {
    width: 100%;
  }
}
.submitSection {
  height: 50vh;
  margin-top: 56px;
  overflow: hidden;
  outline: 0px;
}

.submit {
  box-sizing: border-box;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.itemsWrapper {
  width: 100%;
  max-width: 840px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0px auto;
}

.items {
  font-family: inherit;
  box-sizing: border-box;
  color: #444444;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
}

.contentWrapper {
  width: 100%;
}

.contentWrapper > * {
  flex: 0 0 auto;
}

.contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}

.submitButton {
  position: relative;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  min-height: 48px;
  background-color: #4fb0ae;
  color: white;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 6px 18px 8px;
  border-color: transparent;
  border-radius: 4px;
}

.jhOZlx {
  font-weight: unset;
  font-size: 24px;
  line-height: 32px;
  margin: 0px;
}

.bmzmvX {
  white-space: nowrap;
  color: #4fb0ae;
}

.kvyvll {
  display: inline-block;
}

.mOlEV {
  font-weight: unset;
  font-size: 12px;
  line-height: 16px;
  font-family: sans-serif;
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  .submitSection {
    height: 34vh;
  }

  .submitButton {
    font-weight: 400;
  }
}
.uploadSection {
  margin-bottom: 2rem;
}

.dropArea {
  position: relative;
  height: 24vh;
  min-height: 24rem;
  width: 58%;
  min-width: 40rem;
  border: 4px dashed #a6b2c8;
  border-radius: 8px;
  text-align: center;
}

.highlightArea {
  border-color: #e90052;
}

.dropAreaContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uploadInstruction {
  margin-bottom: 1rem;
}

.logo {
  display: none;
}

.inputLabel {
  padding: 1.1rem 2.9rem;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  background-color: #e90052;
  color: #fff;
}

.uploadingImgWrapper {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border: 2px solid #a6b2c8;
}

.uploadedImgWrapper {
  height: 17rem;
  width: 17rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border: 2px solid #e90052;
}

.img {
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.uploadedImg {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .dropArea {
    min-width: 100% !important;
  }

  .inputLabel {
    white-space: nowrap;
  }
}
.video__players {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
}
.video__player {
  width: 35rem;
  background: #e8e8e8;
  --width: 25vw;
  height: 25rem;
}
.video__player:first-of-type {
  margin-right: 2rem;
}
.video__control {
  padding: 7px 8px 7px;
  min-width: 40px;
  font-size: 2rem;
  background-color: rgba(79, 176, 174, 0.3);
  margin: 0;
  height: 40px;
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  position: relative;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.picture {
  display: flex;
  flex-flow: row nowrap;
}
.picture__feed {
  width: 32rem;
  height: 24rem;
  position: relative;
  margin-right: 2rem;
  margin-bottom: 4rem;
}
.picture__live {
  border: 1px solid #ff0000;
  box-shadow: 2px 2px 3px #ffffff;
  width: 100%;
  height: 100%;
}
.picture__capture {
  position: absolute;
  left: 50%;
  top: 76%;
  opacity: 0;
  transform: translate(-50%);
  padding: 7px 8px 7px;
  min-width: 40px;
  background-color: white;
  margin: 0;
  height: 40px;
  display: inline-block;
  font-family: inherit;
  border-radius: 100px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}
.picture__output {
  width: 34rem;
}
.picture__photo {
  border: 1px solid #ff0000;
  box-shadow: 2px 2px 3px #ffffff;
  width: 25rem;
  height: 24rem;
}
.picture__canvas {
  display: none;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

#clockdiv > div {
  padding: 5px 8px;
  border-radius: 3px;
  background: #00bf96;
  display: inline-block;
}

#clockdiv div > span {
  padding: 0px 11px;
  border-radius: 3px;
  background: #00816a;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .video__control {
    font-size: 1.6rem;
  }

  .in-mobile {
    margin-top: 0;
  }

  .picture__feed {
    margin-bottom: 2rem;
  }

  .video__player {
    width: 24rem;
    height: 24rem;
  }

  .picture__feed {
    width: 28rem;
    height: 24rem;
  }

  .picture__output {
    width: 28rem;
    height: 24rem;
  }
}
.home-page .header-desktop__search-input {
  background-color: #fff;
}

.hero-section {
  padding: 0 3rem;
}

.partners-section {
  padding: 0 2rem;
}

.features-section {
  padding: 3rem 0;
  color: #fff;
  font-family: "lato";
  background-size: cover;
  background-image: url(../img/mobile_background.svg);
}

.partners-page__main .section-title {
  background-color: #38003c;
}
.partners-page__main .tertiary-heading {
  padding-top: 1rem;
  font-size: 1.8rem;
}

.section-text {
  padding: 0 2rem;
}

.banks-section {
  padding: 0 4rem;
}

.main-content {
  width: 70%;
  margin-right: 2rem;
}

.section-description {
  margin-left: 11rem;
}

.thank-you__main .related-forms {
  padding: 0 3rem;
}
.thank-you__img-box {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.thank-you__img {
  width: 100%;
  height: 32rem;
  margin-left: 2rem;
}
.thank-you__text-box {
  margin: 0 auto;
  text-align: center;
}

.faq-page__main .section-title {
  background-color: #38003c;
}

.text-section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(14, 14, 14, 0.1);
}
.text-section__checkbox {
  display: none;
}
.text-section__head {
  transition: all 0.3s;
}
.text-section__head-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2rem;
  color: #eb1761;
}
.text-section__icon-wrapper {
  height: 2rem;
  width: 1.8rem;
  cursor: pointer;
}
.text-section__icon {
  max-height: 100%;
  max-width: 100%;
}
.text-section__body {
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.text-section__body-content {
  padding-left: 2rem;
}
.text-section__body-content-list {
  padding-left: 1rem;
  list-style: circle;
}
.text-section__checkbox:checked + .text-section__head {
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  margin-bottom: 3rem;
}
.text-section__checkbox:checked ~ .text-section__body {
  opacity: 1;
  height: 100%;
  visibility: visible;
}
.text-section__checkbox:checked ~ .text-section__head .text-section__icon {
  content: url(../img/carat-up.svg);
}

@media screen and (max-width: 600px) {
  .des-content {
    display: none;
  }

  .hero__desktop-picture {
    display: none;
  }

  .col-6 {
    width: 100%;
  }
  .col-6:not(:last-child) {
    margin-bottom: 2rem;
  }

  .col-4 {
    width: 100%;
  }

  .col-2 {
    margin-bottom: 2rem;
  }

  .u-padding--horizontal {
    padding: 0 2rem !important;
  }

  .footer-desktop {
    display: none;
  }

  .form-page__main .breath {
    padding: 0;
    padding-top: 0;
  }

  .form-page__main .forms-section {
    padding: 0 !important;
  }

  .bank-box__logo {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .des-content {
    display: none;
  }

  .hero__desktop-picture {
    display: none;
  }

  .footer-desktop {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .bank-home,
.partners-page,
.form-page,
.search-result-page,
.thank-you,
.faq-page {
    background-color: #f4f4f6;
  }

  .col-2 {
    width: calc((100% - 10rem) / 6);
  }
  .col-2:not(:last-child) {
    margin-right: 2rem;
  }

  .col-3 {
    width: calc((100% - 6rem) / 4);
  }

  .col-6:not(:last-child) {
    margin-right: 2rem;
  }

  .header {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .header-desktop__search-box {
    width: 75%;
    margin-right: 2rem;
  }
  .header-desktop__btn {
    width: 25%;
    padding-top: 0.3rem;
  }

  .footer-mobile {
    display: none;
  }

  .tertiary-heading {
    font-size: 1.8rem;
  }

  .mob-content {
    display: none;
  }

  .hero {
    padding: 0 4rem;
  }
  .hero-section {
    margin-bottom: 20rem;
  }
  .hero__image-box {
    width: 50%;
  }
  .hero__text-box {
    width: 45%;
    text-align: left;
    margin-top: 16rem;
  }
  .hero__text-box a {
    margin-left: 5rem;
  }
  .hero__images {
    height: 43rem;
  }
  .hero__mobile-picture {
    display: none;
  }
  .hero__desktop-picture {
    height: 100%;
    width: 100%;
  }

  .primary-heading {
    margin-left: 5rem;
  }
  .primary-heading__main {
    text-align: left;
    font-weight: 700;
  }
  .primary-heading__sub {
    width: 83%;
  }

  .partners-box {
    width: 80%;
  }

  .prev,
.next {
    display: none;
  }

  .features-section {
    background-image: url(../img/desktop_background.svg);
    padding: 5rem 0;
  }

  .feature-btn {
    margin-top: 2rem;
  }

  .footer {
    padding: 1rem 0;
  }
  .footer-desktop__copy-right-box {
    width: 65%;
  }
  .footer-desktop__social {
    width: 23%;
  }

  .partners-page .bank-box .tertiary-heading {
    font-size: 2rem;
  }

  .bank-box {
    height: 19rem;
    padding-top: 3rem;
  }
  .bank-box__footer {
    width: 36%;
  }
  .bank-box__img {
    transform: scale(1.3);
  }

  .btn-text:link, .btn-text:visited {
    padding: 0.3rem 3rem;
  }

  .bank-home__main .desktop-contents {
    display: flex;
    flex-wrap: wrap;
  }

  .form-box {
    width: 100%;
  }
  .form-box__text-box {
    width: 78%;
  }
  .form-box__timer-box {
    width: 12%;
  }
  .form-box__img {
    transform: scale(0.6);
  }
  .form-box__timer-text {
    font-size: 1.1rem;
  }

  .pagination {
    width: 17%;
  }

  .bank-box__logo {
    width: 30%;
  }

  .thank-you__img-box {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .thank-you__img {
    width: 100%;
    height: 32rem;
    margin-left: 5rem;
  }
  .thank-you__text-box {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .footer__text {
    width: 13%;
  }
}
@media screen and (min-width: 900px) {
  .header-desktop__btn {
    padding-left: 2.3rem;
  }
}
@media screen and (min-width: 1000px) {
  .header {
    padding: 0 8rem;
  }
  .header-desktop__nav-item {
    font-size: 1.8rem;
  }
  .header-desktop__logo {
    height: 7rem;
    width: 12rem;
  }
  .header-desktop__search-box {
    width: 73%;
  }
  .header-desktop__btn {
    width: 27%;
    padding-left: 2.5rem;
  }

  .hero__images {
    height: 75rem;
  }

  .hero__text-box {
    margin-top: 30rem;
  }

  .primary-heading__main {
    font-size: 3rem;
  }
  .primary-heading__sub {
    font-size: 2rem;
  }

  .hero__text-box .btn--primary {
    padding: 1rem 4.5rem;
    font-size: 1.8rem;
  }

  .partner__img-box {
    height: 17rem;
    width: 17rem;
  }
  .partner__image {
    height: 16rem;
    width: 16rem;
  }
  .partner-box {
    width: 72%;
  }

  .secondary-heading {
    font-size: 2.5rem;
  }

  .feature {
    width: 75%;
    margin: 0 auto;
  }
  .feature-heading {
    margin-bottom: 4rem;
  }

  .u-padding--horizontal {
    padding: 0;
  }
}
@media screen and (min-width: 1050px) {
  .header {
    padding: 0 10rem;
  }

  .primary-heading__main {
    font-size: 4rem;
  }
  .primary-heading__sub {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1250px) {
  .header {
    padding: 0 12rem;
  }
  .header-desktop__nav-item {
    font-size: 1.8rem;
  }
  .header-desktop__logo {
    height: 7rem;
    width: 12rem;
  }
  .header-desktop__search-box {
    width: 78%;
  }
  .header-desktop__btn {
    width: 22%;
    padding-left: 2rem;
  }

  .primary-heading__main {
    font-size: 5rem;
  }

  .partners-box {
    width: 46%;
  }
}
@media screen and (min-width: 1460px) {
  .header {
    padding: 0 12rem;
  }
  .header-desktop__nav-item {
    font-size: 1.8rem;
  }
  .header-desktop__logo {
    height: 7rem;
    width: 12rem;
  }
  .header-desktop__search-box {
    width: 84%;
  }
  .header-desktop__btn {
    width: 15%;
    padding-left: 2.5rem;
  }

  .primary-heading__main {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1500px) {
  .header {
    padding: 0 12rem;
  }
  .header-desktop__nav-item {
    font-size: 1.8rem;
  }
  .header-desktop__logo {
    height: 7rem;
    width: 12rem;
  }
  .header-desktop__search-box {
    width: 84%;
    margin-right: -3rem;
  }
  .header-desktop__btn {
    width: 15%;
    padding-left: 2.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
