<section class="canvas__footerSection">
  <div class="canvas__footer">
    <div class="canvas__footerContent">
      <div class="canvas__footerProgress">
        <p class="progress__text">
          {{totalAnswered}} of {{total}} Questions
        </p>
        <progress value="{{totalAnswered}}" max="{{total}}"></progress>
      </div>
      <div class="canvas__footerNavigiation">
        <button class="canvas__btn canvas__btn--primary btn--navigation" id="navigateUP">
          <i class="fa fa-angle-up"></i>
        </button>
        <button class="canvas__btn canvas__btn--primary btn--navigation" id="navigateDown">
          <i class="fa fa-angle-down"></i>
        </button>
      </div>
    </div>
  </div>
</section>