<div class="intro">
  <div class="intro__info">
    <h1 class="primary-heading">{{name}}</h1>
  </div>
  <div class="intro__instruction">
    <span class="intro__instructionWarning">
      You need the following below to fill this form
    </span>
    <span class="intro__instructionIcon">
      <i class="far fa-hand-point-down"></i>
    </span>
  </div>
  <div class="intro__requirements">
    {{#each components}}
    <div class="intro__requirement">
      <div class="intro__icon">
        <img class="intro__iconImage" src="/img/{{this.name}}.svg" alt="{{this.name}} Icon" />
      </div>
      <div class="intro__requirementTextWrapper">
        <h3 class="intro__requirementText">
          {{this.description}}
        </h3>
      </div>
    </div>
    {{/each}}
  </div>
  <div>
    <div class="intro__actionBtnWrapper">
      <button class="canvas__btn canvas__btn--primary canvas__btn--action" id="getStarted">
        I am Ready
      </button>
    </div>
    <span class="intro__actonInstruction">
      Press <strong>Enter</strong>
    </span>
  </div>
</div>