<div class="elementWrapper dull elementWrapperMedia" data-q-id="{{id}}" data-question="true">
  <section class="inactiveElement">
    <div class="elementParent recording-canvas">
      <div class="elementHouse">
        <div>
          <div>
            <div class="elementQuestionWrapper">
              <div class="elementQuestionContents">
                <div class="questionDecorationWrapper">
                  <span class="questionDecoration">
                    <div class="questionPosition">
                      {{position}}
                    </div>
                    <div class="questionIcon">
                      <span>
                        <i class="fa fa-arrow-right"></i>
                      </span>
                    </div>
                  </span>
                </div>
                <div class="questionTextWrapper">
                  <label for="{{id}}"> {{question}}</label>
                  {{#if isRequired }}
                  <div class="requiredQuestion">*</div>
                  {{/if}}
                </div>
                <p class="description">{{description}}</p>
              </div>
            </div>
          </div>
          <div class="mediaRecorder" id="{{id}}">
            <div class="answerWrapper">
              <button class="askPermissionBtn" id="{{id}}" data-qType="{{type}}">
                <span class="nextButtonText">{{text}}</span>
              </button>
            </div>
            <div class="nextButtonWrapper in-mobile" id="{{id}}">
              <button class="uploadButton des-content" id="{{id}}" data-qType="{{type}}">
                <span class="nextButtonText" id="{{id}}">Upload</span>
              </button>
              <button class="resetButton mob-content des-content" id="{{id}}" data-qType="{{type}}">
                <span class="nextButtonText" id="{{id}}">Re-Take</span>
              </button>
            </div>
            <div class="validationWrapper inactiveValidation" data-validation-msg-for="{{id}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
