<div class="elementWrapper dull" data-q-id="{{id}}" data-question="true">
  <section class="inactiveElement">
    <div class="elementParent">
      <div class="elementHouse">
        <div>
          <div>
            <div class="elementQuestionWrapper">
              <div class="elementQuestionContents">
                <div class="questionDecorationWrapper">
                  <span class="questionDecoration">
                    <div class="questionPosition">
                      {{position}}
                    </div>
                    <div class="questionIcon">
                      <span>
                        <i class="fa fa-arrow-right"></i>
                      </span>
                    </div>
                  </span>
                </div>
                <div class="questionTextWrapper">
                  <span>{{question}}</span>
                  {{#if isRequired }}
                  <div class="requiredQuestion">*</div>
                  {{/if}}
                </div>
                <p class="description">{{description}}</p>
              </div>
            </div>
          </div>
          <div>
            <div class="answerWrapper">
              <div class="dropArea" data-q-id="{{id}}" data-q-type="{{type}}">
                <div class="dropAreaContent">
                  <input type="file" id="{{id}}" data-q-id="{{id}}" class="logo input" data-q-type="{{type}}" />
                  <div class="uploadstatus" data-q-id="{{id}}">
                    {{{uploadIndicator}}}
                  </div>
                </div>
              </div>
            </div>
            <div class="validationWrapper inactiveValidation" data-validation-msg-for="{{id}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
