<div class="video-recorder">
  <div id="clockdiv">
    <div>
      <span class="hours">0</span>
    </div>
    <div>
      <span class="minutes">0</span>
    </div>
    <div>
      <span class="seconds">00</span>
    </div>
  </div>
  <div class="video__players">
    <video id="live" class="video__player" playsinline autoplay muted></video>
    <video id="playback" class="video__player des-content" playsinline></video>
  </div>
  <div class="video__controls">
    <button id="record" class="video__control">Start Recording</button>
  </div>
</div>