<div class="elementWrapper dull" data-q-id="{{id}}" data-question="true">
  <section class="inactiveElement">
    <div class="activeElementParent">
      <div class="elementParent">
        <div class="elementHouse">
          <div>
            <div>
              <div class="elementQuestionWrapper">
                <div class="elementQuestionContents">
                  <div class="questionDecorationWrapper">
                    <span class="questionDecoration">
                      <div class="questionIcon">
                        <span>
                          <i class="fa fa-tasks"></i>
                        </span>
                      </div>
                    </span>
                  </div>
                  <div class="questionTextWrapper">
                    <span>
                      <strong>{{question}}</strong>
                    </span>
                    <ul>
                      {{#each children}}
                      {{#if this}}
                      <li>{{this}}</li>
                      {{/if}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="childHouse">
              <div class="nextButtonWrapper">
                <button class="nextButton statement" id="{{id}}">
                  <span class="nextButtonText" id="{{id}}"></span>
                </button>
                <div class="buttonInstruction">
                  Press <strong>Enter</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>