<div class="picture">
  <div class="picture__feed">
    <video class="picture__live" id="livefeed">Video stream</video>
    <button class="picture__capture" id="capture">Take Photo</button>
  </div>
  <canvas class="picture__canvas" id="canvas"></canvas>
  <div class="picture__output des-content">
    <img alt="photo from camera" class="picture__photo" id="photo">
  </div>
</div>
