body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: $default-font;
}

.primary-heading {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;

  &__main {
    font-family: "Source Sans Pro";
    display: block;
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
  }

  &__sub {
    display: block;
    font-weight: 400;
    font-size: 1.55rem;
    text-align: justify;
  }
}

.secondary-heading {
  font-family: "Source Sans Pro";
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.heading-info {
  font-size: 2rem;
  font-weight: 400;
}

.tertiary-heading {
  font-family: "Source Sans Pro";
  font-size: 2rem;
  font-weight: 600;
}

.fourth-heading {
  font-family: "Source Sans Pro";
  font-size: 1.5rem;
  font-weight: 300;
}
