.u-center-text {
  text-align: center !important;
}

.section-title {
  padding: 0 2rem;
  padding-top: 4rem;
  width: 100%;
  height: 10rem;
  text-align: center;
  background-color: $color-black;
  color: $color-white;
}

.breath {
  padding: 0 12rem;
  padding-top: 3rem;
}

.u-margin-bottom--big {
  margin-bottom: $big-gutter;
}

.u-margin-bottom--medium {
  margin-bottom: $medium-gutter;
}

.u-margin-bottom--small {
  margin-bottom: $small-gutter;
}

.u-margin-bottom--thin {
  margin-bottom: $thin-gutter;
}

.u-margin-right--small {
  margin-right: $small-gutter;
}

.u-padding--small {
  padding: $small-gutter;
}

.u-padding--horizontal {
  padding: 0 12rem !important;
}
